
<head>
    {% load static %}
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" id="bootstrap-css">
    <script src="{% static "jquery.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "bukutamu/css/form.css" %}" rel="stylesheet">
    <!------ Include the above in your HEAD tag ---------->
    <title>Bukutamu</title>

</head>

<body background="{% static "indexbackground.jpg" %}" style="font-size: 15px" >
 <div class="wrapper" > 
  <div id="formContent">
   <div class="row vertical-align">
    <div class="col-sm-6" >
      {%if flag%}
          <video id="player" controls autoplay width="90%" ></video>
          <canvas id="canvas" class="col-sm-12" hidden=""></canvas>
      {%else%}
          {% with '/'|add:tamu.image.url as image_static %} 
              <img src = "{{tamu.image.url}}" width=100% height=56%></img>
          {% endwith %}
          
      {%endif%}
      <br>
      <br>
      <div class="row">
      	<div class="table-responsive col-sm-12">
		  <table class="table ">
		    <thead>
		      <tr >
		        <th class="w-25">Tanggal</th>
		        <th class="w-25">Bertemu dengan</th>
		        <th class="w-50">Keperluan</th>
		      </tr>
		    </thead>
		    <tbody>
		    {%for item in history%}
		      <tr >
		        <td>{{item.tanggal_keluar}}</td>
		        <td>{{item.bertemu_dengan}}</td>
		        <td>{{item.alasan_kedatangan }}</td>
		      </tr>
		    {%endfor%}
		    </tbody>
		  </table>
		</div>
      </div>
      
    </div>
    <div class="col-sm-6 v-divider">
        {%if flag%}
          <form method = "POST" action = {%url 'bukutamu:signin'%} class = "text-left"  onsubmit="validateForm()">
        {%else%}
            <form method = "POST" action = {%url 'bukutamu:signout'%} class = "text-left">
        {%endif%}
  			{% csrf_token %}
  			<input type="hidden" name="image_location" id="image_location" value="/images/bleh.jpg" 
  			 {%if not flag%} readonly {%endif%}><br>
	        <div class="form-group row"><!-- UID -->
	          <label class="control-label col-sm-3" for="UID">UID:</label>
	          <div class="col-sm-6">  
	            <input type="text" class="form-control inputsm" name="UID" id="UID" placeholder="UID" value = {{uid}} readonly > 
	          </div>
	          <div class="col-sm-3">
	            <select class="form-control inputsm" name="TID" id="TID" placeholder="Tipe id"  value = {{tamu.tipeid}} {%if not flag%} readonly {%endif%}>
	            	<option>KTP</option>
	            	<option {%if tipid%}selected{%endif%}>Kartu Pegawai</option>
	            	<option {%if tipid%}selected{%endif%}>SIM</option>
	            </select>
	          </div>
	        </div>

	        <div class="form-group row"> <!-- nama -->
	          <label class="control-label col-sm-3" for="Nama">Nama:</label>
	          <div class="col-sm-9">  
	            <input type="text" class="form-control inputsm" name="Nama" id="Nama"  placeholder="Nama" {%if not flag%} readonly {%endif%} required  {%if tamu.nama_tamu%} readonly value = {{tamu.nama_tamu}} {%endif%}  >
	          </div>
	        </div>
	        <div class="form-group row"> <!-- no HP -->
	          <label class="control-label col-sm-3" for="NoHP">Nomor HP:</label>
	          <div class="col-sm-9">  
	            <input type="number" class="form-control inputsm" name="NoHP" id="NoHP" placeholder="08xxxxxxxxxx" autocomplete="off" required {%if tamu.no_hp_tamu%} readonly value = {{tamu.no_hp_tamu}} {%endif%} {%if not flag%} readonly {%endif%}>
	          </div>
	        </div>
	        <div class="form-group row"><!-- Jenis kelamin -->
	          <label class="control-label col-sm-3" for="kelamin">Jenis Kelamin:</label>
	          <div class="col-sm-9">  
	            <select class="form-control inputsm" name="Kelamin" id="Kelamin" placeholder="L/P" {%if tamu.jenis_kelamin %} disabled value = {{tamu.jenis_kelamin}} {%endif%} {%if not flag%} readonly {%endif%}>
	            	<option>Laki laki</option>
				    <option {%if kelamin%}selected{%endif%}>Perempuan</option>
	            </select>
	          </div>
	        </div>
	        <div class="form-group row"> <!-- Institusi  -->
	          <label class="control-label col-sm-3" for="Institusi">Institusi:</label>
	          <div class="col-sm-9">  
	            <input type="text" class="form-control inputsm" name="Institusi" id="Institusi" placeholder="Institusi" required {% if tamu.perusahaan%} readonly value = {{tamu.perusahaan}} {%endif%} {%if not flag%} readonly {%endif%}>
	          </div>
	        </div>
	        <div class="form-group row"> <!-- SUhu badan -->
	          <label class="control-label col-sm-3" for="SuhuBadan">Suhu Badan:</label>
	          <div class="col-sm-9">  
	            <input type="number" step="any" class="form-control inputsm" name="Suhu" id="Suhu" placeholder="xx,x" required value = {{kedatangan.suhu_badan}} {%if not flag%} readonly {%endif%}>
	          </div>
	        </div>
	        <div class="form-group row"> <!-- BErtemu dengan -->
	          <label class="control-label col-sm-3" for="Bertemu">Bertemu dengan:</label>
	          <div class="col-sm-9">  
	            <input type="text" class="form-control inputsm" name="Bertemu" id="Bertemu"
	            placeholder="Bapak/Ibu" required value = {{kedatangan.bertemu_dengan}} {%if not flag%} readonly {%endif%}>
	          </div>
	        </div>
	        <div class="form-group row"> <!-- BErtemu dengan -->
	          <label class="control-label col-sm-3" for="Bertemu">Departemen:</label>
	          <div class="col-sm-9">  
	            <select type="text" class="form-control inputsm" name="departemen" id="departemen" required {%if not flag%} disabled {%endif%} 
	            >
	            	{%for item in departemen%}
	            	<option value={{item.id}} 
	            	{%if item.id == kedatangan.departemen%}
	            	selected
	            	{%endif%}
	            	>{{item.nama_departemen}}</option>
	            	{%endfor%}
	        	</select>
	          </div>
	        </div>
	        <div class="form-group row"> <!-- Keperluan -->
	          <label class="control-label col-sm-3" for="Keperluan">Keperluan:</label>
	          <div class="col-sm-9">  
	            <input type="text" class="form-control inputsm" name="Keperluan" id="Keperluan" placeholder="Untuk" required value = {{kedatangan.alasan_kedatangan}} {%if not flag%} readonly {%endif%}>
	          </div>
	        </div>
	        <div class="form-group row ">
	          <label class="control-label col-sm-5" for="Luka">Terdapat Luka terbuka:</label>
	      	<!-- </div>
	      	<div class="form-group row"> -->
	          	<label class="radio-inline col-sm-2">
	            <input type="radio"  name="Luka" id="Luka1" {% if kedatangan.terdapat_luka_terbuka%} checked=true  {%endif%}{%if not flag%}  disabled {%endif%} {%if not flag%}  disabled {%endif%} value = "1"> Ya
	        	</label>
	        	<label class="radio-inline col-sm-2">
	            <input type="radio"  name="Luka" id ="Luka2"{%if not flag%}  disabled {%endif%} {% if not  kedatangan.terdapat_luka_terbuka%} checked=true {%endif%} id = Luka value="0"> Tidak
	        	</label>
	        </div>
	        <div class="form-group row">
	          <label class="control-label col-sm-5" for="sakit"> Sakit dalam 3 hari terakhir:</label>
	          	<label class="radio-inline col-sm-2">
	            <input type="radio"  name="sakit" id="sakit_radio_y" {% if  sakit%} checked=true  {%endif%}{%if not flag%}  disabled {%endif%} onchange="sakit_aktive()"> Ya
	        	</label>
	        	<label class="radio-inline col-sm-2">
	            <input type="radio"  name="sakit" id="sakit_radio_n" value = "Tidak" {% if not sakit%} checked=true {%endif%}{%if not flag%} disabled {%endif%}  onchange="sakit_aktive()"> Tidak
	        	</label>

	        </div>
	        <div class="form-group row " >
	        <label class="control-label col-sm-3" for="sakit"> Jenis sakit :</label>
	          <div class="col-sm-9">  
	          	
	            <input type="text" class="form-control input-sm " name="Sakit" id="Sakit"  placeholder="Sehat" {%if not flag%} readonly {%endif%} required value = {{kedatangan.sakit}}  >
	          </div>
	        </div>
	        <div class="form-group row"  >
  			<input type="hidden" id = "Image" name = "Image">
  				<div class="col-sm-6"> 
		  			<a href={%url 'bukutamu:index'%}><input type="button" name="cancel" id = "cancel" class="col-sm-11 center" value="cancel"></a>
	  			</div>
  				{%if flag%}
	  			<div class="col-sm-6"> 
		  			<input type="submit" name="submit" id = "submit" class="col-sm-11 btn">
	  			</div>
	  			{%else%}
	  			<div class="col-sm-6"> 
	  				<input id="cancel " type="submit" name="submit" id = "submit" class="col-sm-11 center btn" value = "logout">
	  			</div>
	  			{%endif%}
	  			
  			</div>
  		</form>
    </div>
  </div>
  </div>
</div>

{%if flag%}
<script>
  
  const player = document.getElementById('player');
  const canvas = document.getElementById('canvas');
  const context = canvas.getContext('2d');
  const image = document.getElementById('Image')
  const radio_sakit = document.getElementById('sakit_radio_y')
  const radio_sakitn = document.getElementById('sakit_radio_n')
  const sakit = document.getElementById('Sakit')
  const lukay = document.getElementById('Luka1')
  const lukan = document.getElementById('Luka2')
  var sakit_flag = false
  const nama = document.getElementById("Nama")
  const hp = document.getElementById("NoHP")
  const inst = document.getElementById("Institusi")
  const suhu_badan = document.getElementById("Suhu")
  const bertemu = document.getElementById("Bertemu")
  const keperluan = document.getElementById("Keperluan")
  const submit = document.getElementById("submit")
  const flag = {{flag_auth}}
  const departemen = document.getElementById("departemen")

  if (!flag){
  	suhu_badan.disabled = true
  	bertemu.disabled = true
  	keperluan.disabled = true
  	radio_sakit.disabled = true
  	radio_sakitn.disabled = true
  	submit.disabled = true
  	lukay.disabled = true
  	lukan.disabled = true
  	departemen.disabled = true
  	alert("anda telah melakukan pelanggaran lebih dari 3 kali")
  }

  const constraints = {
    video: true,
  };
  function cameracapture (){
  	// Draw the video frame to the canvas.
    handler = document.getElementById('image_location')
    handler = player
    context.drawImage(player, 0, 0, canvas.width, canvas.height);
     //get image
      var Pic = document.getElementById("canvas").toDataURL();
      Pic = Pic.replace(/^data:image\/(png|jpg);base64,/, "");
      image.value = Pic
  }

  function validateForm(){
  	if (sakit_flag == true){
  		sakit.value = "";
  	}
  	cameracapture();
  }

  function sakit_aktive(){
	sakit_flag = !sakit_flag
	sakit.readOnly = sakit_flag
	sakit.required = !sakit_flag
  }


  // Attach the video stream to the video element and autoplay.
  navigator.mediaDevices.getUserMedia(constraints)
    .then((stream) => {
      player.srcObject = stream;
    });
  sakit_aktive()
</script>
{%endif%}
</body>